*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}
.login-modal {
  background:linear-gradient(#191021 , #2C0F45 , #191021);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.login-box {
  background-color: #2C0F45;
  border-radius: 20px;
  padding: 100px;
  width: 700px;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(171, 3, 238, 0.473);
}
.login-box h2 {
  color: #FDFDFD;
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  color: white;
  margin-bottom: 20px;
}
.input-icon {
  display: flex;
  align-items: center;
  background-color: #321A4E;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
}
.input-icon .icon {
  color: #F0EDF1;
  margin-right: 10px;
  font-size: 18px;
}
.input-icon input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
}
.login-btn {
  width: 100%;
  background-color: #321A4E;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.login-btn:hover {
  background-color: #120C18;
}
.politica-text,
.register-text {
  text-align: center;
  font-size: 14px;
  color: #F8F8F8;
}
.politica-text a,
.register-text a {
  color: #AA0EDA;
  text-decoration: none;
}
.politica-text a:hover,
.register-text a:hover {
  text-decoration: underline;
}