.pagina-categoria {
  color: white;
  padding: 2rem;
  text-align: center;
  
}

.titulo-categoria {
  background-color: #a46bff;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.grid-canciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  align-items: start;
}

.card-cancion {
  background-color: #422b57;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-cancion img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card-cancion h4,
.card-cancion p {
  margin: 5px 0;
  text-align: center;
}

.genero {
  font-size: 0.9rem;
  color: #a46bff;
  text-align: center;
}
.card-cancion button {
  background: #6622d1;
  color: white;
}
.volver-pagcategorias {
  border-radius: 20px;
  margin-top: 30px;
  background-color: #6622d1;
  color: white;
}
